html,
body {
  /* Ensures full height for body and html */
  margin: 0;
  padding: 0;
  background-color: #fefffe;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8fff6;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
}
.SiteName {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 48px;
  color: #2682c8;
  margin: 0px;
  padding: 0px;
}
.Home,
.About,
.Login,
.Signup {
  font-family: Roboto;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav_bar {
  display: flex;
  margin-right: 80px;
  align-items: center;
}

.Signup {
  background-color: #2682c8;
  color: white;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 10px;
}
.Home {
  font-weight: bold;
}
.Home:hover,
.About:hover,
.Login:hover {
  color: #50575d;
}

.Signup:hover {
  background-color: #1e6bb8;
  color: rgb(203, 214, 233);
}

.tagline {
  margin-top: 0px;
  font-family: "Poppins";
  font-size: 52px;
  color: #373c41;
}

.highlight-find {
  color: #04a743;
}

.highlight-care {
  color: #04a743;
}

.highlight-pets {
  color: #04a743;
}

.Herosection {
  display: flex;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 40px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
}

.Heroimg img {
  width: 700px;
  height: auto;
  border-radius: 15px;
}

.Description {
  font-family: "Poppins";
  font-size: 18px;
  color: #606060;
  margin-top: 20px;
  padding-bottom: 5%;
}

.Browse,
.Get_Started {
  font-family: "Roboto";
  font-size: 18px;
  align-items: flex-end;
  text-decoration: none;
  border-radius: 10px;
  padding: 14px;
  padding-left: 26px;
  padding-right: 26px;
  margin: 20px;
  margin-left: 0%; /* to align with other texts */
  margin-bottom: 20px;
}
.Browse {
  background-color: #2682c8;
  color: white;
}
.Browse:hover {
  background-color: #1e6bb8;
}

.Get_Started {
  color: #2682c8;
  border: 2px solid #2682c8;
}
.Get_Started:hover {
  background-color: #e6f0fa;
}

.Trust {
  /* for list texts */
  font-family: "Poppins";
  font-size: 16px;
  color: #00a455;
  margin: 112px;
  gap: 30px;
  display: flex;
}

.Spoint {
  color: #2682c8;
}

.Features {
  display: flex; /* to align all text side by side */
  padding: 40px 80px; /* first value is top-bottom, second is left-right */
  gap: 40px;
  margin: 0%;
  border-bottom: 1px solid #dddddd;
}

.tagline2 {
  font-family: "Roboto";
  font-size: 32px;
  margin-top: 0px;
  margin: 0px;
  color: #373c41;
}

.description2 {
  font-family: "Poppins";
  font-size: 16px;
  color: #606060;
  width: 500px;
}

.Adopters {
  margin-left: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 20px;
}
.Shelters {
  margin-left: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 20px;
}
.H_adopter,
.H_Shelter {
  font-family: "Poppins";
  font-size: 18px;
  margin-top: 30px;
  color: #373c41;
}

.P_adopter,
.P_shelter {
  font-family: "Poppins";
  font-size: 15px;
  color: #606060;
  width: 350px;
  margin-top: 10px;
}
