html,
body {
  /* Ensures full height for body and html */
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #fefffe;
  scroll-behavior: smooth; /* for smooth scrolling on clicking about button */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8fff6;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
}
.SiteName {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 48px;
  color: #2682c8;
  margin: 0px;
  padding: 0px;
}
.Home,
.About,
.Login,
.Signup {
  font-family: Poppins;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  color: rgb(52, 49, 49);
}

.nav_bar {
  display: flex;
  margin-right: 80px;
  align-items: center;
}

.LoginSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.loginImg {
  border-radius: 30px;
  width: 550px;
  height: auto;
}
.signHeader2 {
  font-size: 36px;
  color: #04a743;
  margin-bottom: 10px;
}
.signSubHeader2 {
  font-size: 18px;
  color: #606060;
  margin-top: 0px;
  margin-bottom: 30px;
}

.loginText {
  border: 2px solid #dddddd;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 18px;
}

.Signup {
  background-color: #2682c8;
  color: white;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 10px;
}
.Home {
  font-weight: bold;
}
.Home:hover,
.About:hover,
.Login:hover {
  color: #50575d;
}

.Signup:hover {
  background-color: #1e6bb8;
  color: rgb(203, 214, 233);
}
.role-group input[type="radio"] {
  display: none; /* hide default radio */
}

.role-group label {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: 2px solid #72b292;
  border-radius: 8px;
  background-color: #e1fff0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
}

.role-group input[type="radio"]:checked + label {
  background-color: #72b292;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-color: #5ea180;
}

.Footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: #f8fff6;
  border-top: 1px solid #dddddd;
  font-family: "Poppins";
  color: #606060;
}
