html,
body {
  /* Ensures full height for body and html */
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #fefffe;
  scroll-behavior: smooth; /* for smooth scrolling on clicking about button */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8fff6;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
}
.SiteName {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 48px;
  color: #2682c8;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  text-decoration: none;
}
.Home,
.About,
.Login,
.Signup {
  font-family: Poppins;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  color: rgb(52, 49, 49);
}

.nav_bar {
  display: flex;
  margin-right: 80px;
  align-items: center;
}

.Signup {
  background-color: #2682c8;
  color: white;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 10px;
}
.Home {
  font-weight: bold;
}
.Home:hover,
.About:hover,
.Login:hover {
  color: #50575d;
}

.Signup:hover {
  background-color: #1e6bb8;
  color: rgb(203, 214, 233);
}

.pet-profile-container {
  display: flex;
  gap: 40px;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  max-width: 1100px;
  margin: auto;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

.main-img {
  width: 320px;
  height: 250px;
  object-fit: cover;
}

.Petimg {
  width: 380px;
  height: 260px;
  object-fit: cover;
  border-radius: 15px;
}

.info-section {
  background: white;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 30px;
  width: 650px;
  border: 1px solid #d4e6dd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.info-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-header h2 {
  font-size: 28px;
  color: #205b4b;
}

.fav-icon {
  font-size: 22px;
  color: #111;
  cursor: pointer;
}

/* Details list */
.info-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.info-details span {
  font-weight: 600;
  color: #205b4b;
  min-width: 150px;
}

.info-details a {
  color: #1a73e8;
  text-decoration: none;
}

.btnDiv {
  display: flex;
  justify-content: center;
}
.applybtn {
  background: #5fdd9d;
  color: #0d3c2e;
  padding: 16px 32px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.applybtn:hover {
  background: #4ccf8a;
}

.Footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: #f8fff6;
  border-top: 1px solid #dddddd;
  font-family: "Poppins";
  color: #606060;
}
