html,
body {
  /* Ensures full height for body and html */
  margin: 0;
  padding: 0;
  background-color: #fefffe;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8fff6;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
}
.SiteName {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 48px;
  color: #2682c8;
  margin: 0px;
  padding: 0px;
}
.Home,
.About,
.Login,
.Signup {
  font-family: Roboto;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav_bar {
  display: flex;
  margin-right: 80px;
  align-items: center;
}

.Signup {
  background-color: #2682c8;
  color: white;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 10px;
}
.Home {
  font-weight: bold;
}
.Home:hover,
.About:hover,
.Login:hover {
  color: #50575d;
}

.Signup:hover {
  background-color: #1e6bb8;
  color: rgb(203, 214, 233);
}
